[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/reality-eth-monorepo"]
	path = lib/reality-eth-monorepo
	url = https://github.com/RealityETH/reality-eth-monorepo
[submodule "lib/zodiac-module-reality"]
	path = lib/zodiac-module-reality
	url = https://github.com/gnosis/zodiac-module-reality
